---
import ArticleCard from "./ArticleCard.astro";
import Subheading from "../headings/Subheading.astro";

const heading = "Featured";

// To be replaced
const articles = [
  {
    title: "Featured Article 1",
    img: "https://images.pexels.com/photos/14838102/pexels-photo-14838102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    alt: "Japanese Gyozas",
    description: "Description about this article one sentence."
  },
  {
    // Add data for the second article here
    title: "Featured Article 2",
    img: "https://images.pexels.com/photos/14838102/pexels-photo-14838102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", // Replace with actual image path
    alt: "Description of image 2",
    description: "Another captivating description for article 2."
  },
  {
    // Add data for the third article here
    title: "Featured Article 3",
    img: "https://images.pexels.com/photos/14838102/pexels-photo-14838102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", // Replace with actual image path
    alt: "Description of image 3",
    description: "A compelling description to entice readers about article 3."
  }
];
---

<div class="container mx-auto px-8">
    <Subheading text={heading}/>
    <div class="container grid grid-cols-1 gap-x-16 gap-y-12 md:grid-cols-2 lg:grid-cols-3 xl:gap-y-16 xl:gap-x-24">
      {
        articles.map((article) => { 
          return <ArticleCard title={article.title} description={article.description} img={article.img} alt={article.alt}/> 
        })
      }
    </div>
</div>

<!-- 
grid--center-v

 column-gap: 4.8rem;
    row-gap: 6.4rem;

BELOW xl


@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }


    column-gap: 6.4rem;
  row-gap: 9.6rem;
 -->