---
import type { CollectionEntry } from "astro:content";
import Subheading from "../headings/Subheading.astro";
import Paragraph from "./../Paragraph.astro";
import Image from "astro/components/Image.astro";

type Props = {
    post: CollectionEntry<"posts">;
};

const {post} = Astro.props;
const {author, description, title, cover, coverAlt} = post.data
const url = `/articles/${post.slug}`;
const subheading = "Latest";

---


<div class="flex flex-col items-center md:items-start">
  <a href={url}>          
  <Image            
    src={cover}          
    alt={coverAlt}        
    class:list={"w-9/12 rounded-sm overflow-hidden mb-3"}        
  />
</a>
            <div class=" max-w-3/4">
              <Subheading text={subheading} />

              <p class=" font-serif mb-3">
                <a
                  class="text-blue-600 font-normal text-32px leading-tight tracking-heading hover:underline" 
                  href={url}>{title}</a>
              </p>
              <Paragraph text={description}>
              
            </div>
</div>

